%flex-row{
    display: flex;
    flex-direction: row;
}

.header_container{
    @extend %flex-row;
    align-items: center;
    margin: 22px 22px 0px 22px;
    border-bottom: 2px solid #f6f6f6;
}

.header_logo{
    font-weight: bold;

    .logo{
        margin-top: 0%;
        margin-bottom: 0%;
    }

    p{
        margin-top: 0%;
        color: gray;
        font-weight: 800;
    }
}

.menuPanel{
    margin-left: 5%;
    align-items: center;
    justify-content: space-around;
    font-size: large;
    
    ul{
        @extend %flex-row;
        justify-content: space-around;
        list-style-type: none;
        border-bottom: 2px solid #f6f6f6;
        font-weight: 700;
    }

    .active{
        @extend %flex-row;
        justify-content: space-around;
        list-style-type: none;
        color: #f6f6f6;
        font-weight: 800;
        background-color: black;
    }
}