.painting_catalog{
    display: flex;
    flex-direction: row;

}

.paintings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}